/* Global Styles */
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

body {
  padding-bottom: 58px;
}

/* Component Styles */


.header__bar header {

    position: fixed;
    top: 0;
    background-color: #FFFFFF;

    width: 390px;
    height: 52px;

    display: flex;
    align-items: center;

    justify-content: space-between;
    padding: 12px 16px 12px 16px;

    .choose__local {
      display: flex;
      align-items: center;
      gap: 6px;
      
      > h2 {
        font-family: Inter; 
        font-size: 18px;
        line-height: 28px;
        font-weight: 700;
      }
    }

    .header__svg{
      display: flex;
      align-items: center;
      width: 104px;
      height: 24px;
      gap: 16px;
 
      
      > button {
        width: 24px;
        height: 24px;
      }
    }

  }

.divider {
  width: 390px;
  border: 1px solid #EEEEEE;
  position: fixed;
  top: 76px;

}

.bar_divider {
  
    width: 358px;
    border: 1px solid #EEEEEE;
  }

.product__list{
  width: 390px;
  padding: 16px;
  gap: 16px;

  margin-top: 54px;
  

  }  

.product__list .product{
    display: flex;
    width: 358px;
    height: Hug (110px)px;
    gap: 16px;
    opacity: 0px;
    padding: 16px;

    .product__img {
      width: 110px;
      height: 110px;
      border-radius: 4px;
    }



}

.product__list .product .product__info {
  display: flex;
  flex-direction: column;
  width: 232px;
  height: 110px;

  .product__info__detail {
    width: 232px;
    height: 90px;
    gap: 4px;
    
  }

  .product__info__detail .product__name{
    font-family: Inter;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
  }

  .product__info__detail > span{
    color: #8c8c8c;
    font-family: Inter; 
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
  }

  .product__info__detail .price {
    color: #FF7E36;
    font-family: Inter; 
    font-size: 15px;
    line-height: 22px;
    font-weight: 700;
  }

  .product__bottom__info{
    display: flex;
    justify-content: end;
    width: 232px;
    height: 16px;
    gap: 4px;
    text-align: right;
 
    > h5 {
      color: #8c8c8c;
      font-family: Inter; 
      font-size: 12px;
      line-height: 16px;
    }

  }

}


.bar__menu {
  display: flex;
  position: fixed;
  bottom: 0px;

  width: 390px;
  height: 58px;
  padding: 8px 0px 8px 0px;
  gap: 0px;
  opacity: 0px;
  background-color: #FFFFFF;

  > button {
    width: 78px;
    height: 42px;
    gap: 4px;
    opacity: 0px;
  }

  .menu{
    font-family: Inter; 
    font-size: 10px;
    line-height: 14px;
  }
}

.plus {
  box-sizing: border-box ;
  display: flex;
  justify-content: end;
  align-items: center;

  position: fixed;
  bottom: 58px;

  width: 390px;
  height: 80px;
  padding: 16px;
  gap: 10px;

  > button {
    width: 45px;
    height: 45px;
    border-radius: 100px;
    background-color: #FF7E36;
  }

}

