@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

/* Global Styles */
button{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
}

/* Dangn Styles */
.post-header {
    position: relative;
}

.post-header header {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 14px 16px;
    box-sizing: border-box;
}

.post-header .post__image-container {
    width: 100%;
    padding-top: 100%;
    position: relative;
    z-index: -1;
}

.post-header .post__image-container .post__image {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.post-header .post-header__incon-container {
    display:flex;
    gap: 16px;
    align-items: center;
}

.post{
    padding: 0 16px;
    padding-bottom: 54px;
}

.post > section {
    padding: 16px 0;
    border-bottom: 1px solid #EEEEEE;
}

.post > section:last-child {
    border-bottom: none;
}

.post__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post__header .header__user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.header__user .user__profile-img {
    width: 40px;
    height:40px;
    border-radius: 100%;
}

.header__user .user__info {
    display: flex;
    flex-direction: column;
}

.header__user .user__info .user__name {
    font-family: pretendard;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.header__user .user__info .user__address {
    font-family: pretendard;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #4F4F4F;
}

.post__header .header__temperature {
    display: flex;
    margin-bottom: 4px;
    align-items: flex-end;
    flex-direction: column;
}

.header__temperature .temperature__container {
    display: flex;
    margin-bottom: 4px;
    align-items: center;
}

.temperature__container .temperature__indicator {
    margin-right: 4px;
}

.header__temperature .temperature__container .temperature__value {
    font-family: pretendard;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #4AC1DB;
}

.header__temperature .temperature__description {
    font-family: pretendard;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: #8C8C8C;
    text-decoration-line: underline;
}

.header__temperature .temperature__bar {
    width: 100%;
    height: 4px;
    background: #D9D9D9;
    border-radius: 10px;
}

.header__temperature .temperature__bar--value {
    width: 37.2%;
    height: 4px;
    background: #4AC1DB;
    border-radius: 10px;
}

.post__content .post__title{
    font-family: pretendard;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    margin-bottom: 8px;
}

.post__content .discription__container {
    display: flex;
    gap: 2px;
    font-family: pretendard;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #8C8C8C;
}

.discription__container .discription--click {
    text-decoration-line: underline;
}

.post__content .post__text {
    margin: 16px 0px;
    font-family: pretendard;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.post__report .section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.section__header .section__title {
    font-family: pretendard;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.post__other-products .section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.products__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px 16px;
    margin: 16px 0 8px;
}

.products__grid .product__image {
    width: 171px;
    height: 118px;
    border-radius: 4px;
}

.product__container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.product__name{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    font-family: pretendard;
    color: #000000;
}

.product__price{
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    font-family: pretendard;
    color: #000000;
}

.product__image {
    width: 100%;
    object-fit: cover;
}

.bottom-bar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    padding: 8px 16px 12px;
    border-top: 1px solid #d9d9d9;
}

.bottom-bar .chat-button {
    border-radius: 4px;
    background: #FF7E36;
    padding: 8px 14px;
    font-family: pretendard;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    font-size: 14px;
}

.bottom-bar .bar__info {
    display: flex;
    flex-direction: column;
}

.bar__info .bar-suggest {
    font-family: pretendard;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    font-size: 12px;
    color: #8C8C8C;
}

.bottom-bar .bar__info-container {
    display: flex;
    gap: 16px;
}

.bar__info-container .divide {
    width: 1px;
    background-color: #eee;
    align-self: stretch;
} 