@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body {
  font-family: 'Pretendard', sans-serif;
  margin: 0;
  padding: 0;
}

.Footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 111px;
  display: flex;
  background-color:#FFFFFF;
  justify-content: space-between;
  border-radius: 16px;
  box-shadow: 0px -8px 16px 0px #0000001A;
}

.Info {
  margin-top: 16px;
  margin-left: 24px !important;
  max-width: calc(100% - 108px);
}

.Info .default {
  font-weight: 400;
  font-size: 15px;
  color: #6B7684;
  margin-top: 0;
  margin-bottom: 0;
}

.Info .price {
  font-weight: 600;
  font-size: 17px;
  color: #4E5968;
  margin-top: 0;
}

.orderButton {
  width: 84px;
  height: 38px;
  margin-top: 19px;
  margin-right: 24px;
  border-radius: 8px;
  background-color: #3182f6;
  font-weight: 500;
  font-size: 15px;
  color: #FFFFFF;
  border : none;
  cursor: pointer;
}

.orderButton:hover {
  background-color: #1e5be6;
}
