button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  body {
    padding-bottom: 54px;
    width: 100%;
    height: 778px;
    top: 47px;
    gap: 0px;
  }

  .hero {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 12px 16px;
    border-bottom: 1px solid #d9d9d9;
    background-color: #fff;
    width: 100%;
    z-index: 1;
  }

  .hero .header__icons {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .hero .header__icons .hero_location {
    color: #000000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
  }

  .hero .header__icons2 {
    position: absolute;
    right: 48px;
    bottom: 32px;
    display: flex;
    align-items: center;
    height: 16px;
    gap: 8px;
  }

.product {
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    position: relative;
    border-bottom : 1px solid #d9d9d9;
}

.product .product__img {
    width: 110px;
    height: 110px;
    border-radius: 4px;
}

.product .product__detail {
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-align: left;
}

.product .product__detail h2 { /*타이틀*/
    margin: 0px;
    color: #000000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.product .product__detail .product__detail__time {
    color:#8C8C8C;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.price {
    color: #FF7E36;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
}

.price2 {
    color: #FF7E36;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
}

.product__comment {
    position: absolute;
    right: 16px;
    bottom: 16px;
    display: flex;
    align-items: center;
    height: 16px;
}


 .products {
    width: calc(100% - 32px); 
    padding-top: 80px;
    gap: 16px;
} 

.sero {
    display: flex;
    flex-direction: column;
}

.plus {
    width: 48px;
    height: 48px;
    position: fixed;
    right: 32px;
    bottom: 90px;
}

.bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-top: 1px solid #d9d9d9;
}

.bar .menu-item {
    width: 78px;
    height: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    position: relative;
}

.bar .icon {
    width: 24px;
    height: 24px;
}

.bar .menu {
    color: #000000;
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
    position: relative;
    width: 100%; 
}