@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body {
  font-family: 'Pretendard', sans-serif;
}

.userImg {
  height: 194px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userInfo {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  border-bottom: 1px solid #e5e8eb;
  border-top: 1px solid #e5e8eb;
}

.defaultInfo {
  height: 50px;
  width: 100%;

  background-color: #ffffff;
  border-color: transparent;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  
  border-bottom: 1px solid #e5e8eb;
  border-top: 1px solid #e5e8eb;
}

.nameDefault, .emailDefault, .addressDefault, .phoneDefault, .passwordDefault {
  font-size: 17px;
  font-weight: 500;
  color: #8b95a1;
}

.name, .email, .address, .phone, .password {
  font-size: 17px;
  font-weight: 500;
  color: #505967;
}

footer {
  font-size: 15px;
  color: #505967;
}