/* Global Styles */
button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

/* Daangn Styles */
.post-header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
  box-sizing: border-box;
  border-bottom: 1px solid #D9D9D9;
  background-color: #FFF;
}

.post-header__location-container button {
  display: flex;
  align-items: center;
  gap: 6px;

  .post-header__location--name {
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 155.556% */
  }
}

.post-header__icon-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.post {
  padding: 52px 16px 58px;
}

.post .post__container {
  padding: 16px 0;
  display: flex;
  width: 100%;
  gap: 16px;
  border-bottom: 1px solid #D9D9D9;
}

.post .post__container:last-child {
  border-bottom: none;
}

.post__container .post__product-img {
  width: 110px;
  height: 110px;
  border-radius: 4px;
}

.post__container .post__product-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  width: 100%;
  height: 110px;
}

.post__container .post__product-desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  width: 100%;
  height: 100%;

  .product__name {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
  }

  .product__post {
    display: flex;
    gap: 4px;

    span {
      color: #8C8C8C;
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px; /* 133.333% */
    }
  }

  .product__price {
    color: #FF7E36;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 146.667% */
  }
}

.post__container .post__product-interest {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 4px;

  .interest__count {
    justify-items: center;

    color: #8C8C8C;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
  }

  .interest__chat {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
  }

  .interest__heart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
  }
}

.bottom-nav {
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0;
  flex-direction: column;
}

.bottom-nav .bottom__container {
  padding: 16px;
  display: flex;
  justify-content: flex-end;
}

.bottom__container .container__plus {
  width: 48px;
  height: 48px;
  padding: 12px; 
  border-radius: 100px;
  background-color: #FF7E36;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);
}

.bottom-nav .container__nav {
  border-top: 1px solid #D9D9D9;
  background-color: #FFF;
  padding: 8px 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.container__nav button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  span {
    color: #000;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 140% */
  }
}