@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body {
  font-family: 'Pretendard', sans-serif;
}

.Menu{
width: 100%;
height: 110px;

display: flex;
justify-content: space-between;
padding-bottom: 120px;
}

.menuImg{
  padding-left: 24px;
  padding-top: 28px;
}

.menuInfo {
  padding-top: 16px;
}

.menuInfo .Name {
  padding-top: 0;
  padding-left: 16px;
  font-size: 17px;
  font-weight: 600;
  color: #333D4B;
}

.menuInfo .Price, .menuInfo .Ingredients {
  padding-left: 16px;
  font-size: 13px;
  font-weight: 500;
  color: #6B7684;
  text-align: left;
}


.Cart {
  width: 84px;
  height: 38px;
  margin-top: 19px;
  margin-right: 24px;
  border-radius: 8px;
  background-color: #3182f6;
  font-weight: 500;
  font-size: 15px;
  color: #FFFFFF;
  border : none;
  cursor: pointer;
}

.Cart:hover {
  background-color: #1e5be6;
}