/* Global Styles */
button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

img {
    display:block;
}

.main-screen {
  position: relative;
  display: flex;
  flex-direction: column;
}

.main-screen header {
    z-index: 2;
    background-color: #fff;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
    box-sizing: border-box;
    border-bottom: 1px solid #D9D9D9
}

.main-screen .location-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
}

#location {
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
}

.main-screen .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}


.main-screen .white-bar {
    position:relative;
    height:52px;
}

.main-screen .post-container {
    z-index: 1;
    padding: 0 16px;
    /* position: relative; */
}

.main-screen .post-container > article {
    padding: 16px 0;
    border-bottom: 1px solid #EEEEEE
}

.main-screen .post-container > article:last-child {
    border-bottom: none;
}

.post {
    display:flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    gap: 16px;
}

.post .product_img {
    border-radius: 4px;
    width:110px;
    height:110px;
}

.post__info {
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap:4px;
    cursor:pointer;
}

.post_discription {
    display:flex;
    flex-direction: column;
    gap:4px;
}


.post_discription .product_name {
    color:#000000;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.post_discription .product_detail {
    color: #8C8C8C;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    display:flex;
    gap:4px;
}

.post_discription .product_price {
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    color: #FF7E36;
}

.post_commentlike {
    display:flex;
    justify-content: flex-end;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #8C8C8C;

    gap:4px;
}

.post_commentlike > div {
    align-items: center;
    display: flex;
    gap:2px;
}







.bottom-bar {
    z-index: 2;
    position:fixed;
    bottom: 0;
    width:100%;
}

.sell_button_section {
    display:flex;
    flex-direction: row-reverse;
    padding:12px;
    background-color:transparent;
}

#sell_btn {
    padding: 12px;
    background-color: #FF7E36;
    border-radius: 100%;
}

.bottom-bar .bottom-menu {
    background-color:  #fff;
    display:flex;
    border-top: 1px solid #d9d9d9;
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    padding: 8px 0px;
}

.bottom-menu > button {
    display:flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    gap:4px;
}

.bottom-menu-icon {
    width:24px;
    height:24px;
}