@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body {
  font-family: 'Pretendard', sans-serif;
}

.orderInfo {
  width: 100%;
  height: 422px;
}

.storeinfo {
  width: 100%;
  height: 58px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: 16px solid #f2f4f6;
  border-bottom: 16px solid #f2f4f6;

}

.storeName {
  font-weight: 700;
  font-size: 17px;
  padding-left: 24px;
  color: #6B7684;
}

.deliveryBoolean {
  font-weight: 500;
  font-size: 15px;
  color: #F04452;
  margin-right: 24px;
}

.orderGroup {
  width: 100%;
  height: 110px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuimg {
  padding-left: 24px;
  padding-top: 19px;
}

.orderGroup .orderMenu {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.menuName {
  font-weight: 700;
  font-size: 17px;
}

.menuPrice {
  font-weight: 500;
  font-size: 13px;
}

.detail {
  width: 16px;
  height: 16px;

  border: none;
  background-color: white;

  margin-right: 24px;
  cursor: pointer;
}

.plus {
  width: 100%;
  height: 59px;
  border-top: 1px solid #f2f4f6;
  display: flex;
  align-items: center;
  justify-content: center; 

  border-bottom: 16px solid #f2f4f6;
}

.plus button {
  color: #3282f6;
  font-size: 17px;
  font-weight: 600;
  width: 100%;
  height: 100%;
  border: none;
  background-color: white;
  

  cursor: pointer;
}

.pay {
  width: 100%;
  height: 163px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);

  justify-content: space-between;

  padding-top: 16px;
  padding-bottom: 130px;
  align-items: center;
}

.orderPayDefault, .deliveryPayDefault {
  padding-left: 24px;
  font-size: 17px;
  font-weight: 500;
  color: #8b95a1;
}

.orderPay, .deliveryPay {
  padding-right: 24px;
  justify-self: end;
  font-size: 17px;
  font-weight: 500;
  color: #505967;
}


.totalPayDefault {
  padding-left: 24px;
  font-size: 17px;
  font-weight: 500;
  color: #4e5968;
}

.totalPay {
  padding-right: 24px;
  justify-self: end;
  font-size: 17px;
  font-weight: 500;
  color: #4e5968;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 129px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #ffffff;

}

.minDelivery {
  font-size: 17px;
  font-weight: 500;
  color: #6b7684;
}

.orderButton {
  width: 350px;
  height: 56px;
  margin-left: 24px;
  border-radius: 16px;
}

.orderButton button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #3282f6;
  border-radius: 16px;

  font-size: 16px;
  font-weight: 600;
  color: #ffffff;

  cursor: pointer;
}

.orderButton button:disabled {
  background-color: #d0dffb;
}

.orderButton button:hover {
  background-color: #1e5be6;
}
