/*Global Styles*/
button{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
}

article{
    padding: 20px 0;
    width: 100%;
}

.header__seperator{
    border-bottom: 1px solid #d9d9d9;
}
.seperator{
    display: flex;
    justify-content: start;
    width: 90%;
    margin: 18px auto;
    border-bottom: 1px solid #d9d9d9;
}

.post-header header{
    display: flex;
    justify-content: space-between;
    padding: 12px 16px 12px 16px;
}

.post-header .post-header__icon-container{
    display: flex; 
    align-items: center; 
}

.post-header .post-header__icon-container div{
    margin-right: 10px;
}
.post-header .post-header__icon-container div{
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
}

.post-header .post-header__icon-container2{
    display: flex; 
    flex-direction: row;
}

.post-header .post-header__icon-container2 .search{
    margin-right: 16px;
}

.post-header .post-header__icon-container2 .menu{
    margin-right: 16px;
}


 
.product1{
    position: relative;
    display: flex;
    justify-content: start;
    width: 90%;
    margin: 20px auto;
}

.product1 .product1__img{
    margin-right: 16px;
}

.product1 .product1__info{
    text-align: left;
}

.product1 .product1__info h3{
    color: black;
    font-family: Inter;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    text-align: left;
    margin-bottom: 5px;
}

.product1 .product1__info span{
    color: #8c8c8c;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.product1 .product1__info div{
    color: rgba(255, 126, 54, 1);
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    margin-top: 5px;
}

.product1 .product1__info img{
    position: absolute;
    bottom: 0;
    right: 0;
}

.product1 .product1__info .react1{
    margin-right: 32px;
}
.product2{
    position: relative;
    display: flex;
    justify-content: start;
    width: 90%;
    margin: 20px auto;
}

.product2 .product2__img{
    margin-right: 16px;
}

.product2 .product2__info{
    text-align: left;
}

.product2 .product2__info h3{
    color: black;
    font-family: Inter;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    text-align: left;
    margin-bottom: 5px;
}

.product2 .product2__info span{
    color: #8c8c8c;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;  
}

.product2 .product2__info div{
    color: rgba(255, 126, 54, 1);
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    margin-top: 5px;
}

.product2 .product2__info img{
    position: absolute;
    right: 0;
    bottom: 0;
}

.product3{
    display: flex;
    justify-content: start;
    width: 90%;
    margin: 20px auto;
}

.product3 .product3__img{
    margin-right: 16px;
}

.product3 .product3__info{
    text-align: left;
}

.product3 .product3__info h3{
    color: black;
    font-family: Inter;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    text-align: left;
    margin-bottom: 5px;
}

.product3 .product3__info span{
    color: #8c8c8c;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;  
}

.product3 .product3__info div{
    color: rgba(255, 126, 54, 1);
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    margin-top: 5px;
}

.product4{
    display: flex;
    justify-content: start;
    width: 90%;
    margin: 20px auto;
}

.product4 .product4__img{
    margin-right: 16px;
}

.product4 .product4__info{
    text-align: left;
}

.product4 .product4__info h3{
    color: black;
    font-family: Inter;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    text-align: left;
    margin-bottom: 5px;
}

.product4 .product4__info span{
    color: #8c8c8c;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;  
}

.product4 .product4__info div{
    color: rgba(255, 126, 54, 1);
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    margin-top: 5px;
}

.product5{
    display: flex;
    justify-content: start;
    width: 90%;
    margin: 20px auto;
}

.product5 .product5__info{
    text-align: left;
}

.product5 .product5__img{
    margin-right: 16px;
}

.product5 .product5__info h3{
    color: black;
    font-family: Inter;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    text-align: left;
    margin-bottom: 5px;
}

.product5 .product5__info span{
    color: #8c8c8c;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;  
}

.product5 .product5__info div{
    color: rgba(255, 126, 54, 1);
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    margin-top: 5px;
}

.post-middle .post .more{
    position: fixed;
    bottom: 10%;
    right: 0;
}
.bar{
    position: fixed;
    bottom: 15px;
    width: 100%;
    background-color: #fff;
    padding: 8px 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    border-top: 1px solid #d9d9d9;
}



