/*공통 부분*/
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

* {
  box-sizing: border-box;
}

/*<!-- 상단 헤더 -->*/
.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;

  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;

  padding: 12px 16px;
  background-color: #fff;
  border-bottom: 1px solid #d9d9d9;
}

.header__location .location__info {
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
}

.header__icons {
  display: flex;
  gap: 16px;
}

/*<!-- 게시글 정보 -->*/
.product {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  border-bottom: 1px solid #d9d9d9;
  position: relative;
}

.product__img {
  border-radius: 4px;
}

.product__info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: left;
}

.product__title {
  margin: 0;
  /* 16 */
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}

.product__location__date-time--latest {
  color: #8c8c8c;

  /* 12 */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}

.product__price {
  color: #ff7e36;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 146.667% */
}

.product__icon {
  position: absolute;
  right: 16px;
  bottom: 16px;
  display: flex;
  align-items: center;
  height: 16px;
}
.product__chat-number {
  margin-right: 4px;
}

.product__icon > span {
  color: #8c8c8c;

  /* 12 */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}

.product__container {
  margin-top: 52px;
  margin-bottom: 57px;
}

/*<!-- 하단바 -->*/
.footer-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  /* width: 100%; */
}
.new-post {
  padding: 16px;
  display: flex;
  justify-content: flex-end;
}

.new-post > button {
  background: #ff7e36;
  padding: 12px;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);
}

.footer-bar > .footer__icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 8px 0 8px 0;
  height: 58px;
  background-color: #fff;
  border-top: 1px solid #d9d9d9;
}

.footer-bar > .footer__icons > button {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  color: #000;
  width: 78px;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 140% */
}
