.orderBar {
  width: 390px;
  height: 100px;
  position: fixed;
  bottom: 20px;
  border-radius: 16px 16px 0px 0px;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  padding-top: 16px;
  background-color: white;
}
.orderBar_detail {
  width: 80px;
  height: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.orderBar_finalPriceText {
  font-size: 15px;
  color: #6b7684;
}
.orderBar_finalPrice {
  font-size: 17px;
  color: #4e5968;
}
.orderBar_btn {
  width: 84px;
  height: 38px;
  background-color: #3182f6;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  font-size: 15px;
  border: none;
}
