.chats {
  padding: 54px 0 58px 0;
}

.chats article {
  border-bottom: 1px solid #eee;
  padding: 16px;
}
.chats article:last-child {
  border-bottom: none;
}

.chat-container {
  width: 100%;
  display: flex;
  align-items: stretch;
  gap: 16px;
}

.chat-container .user-container {
  position: relative;
  width: 40px;
  height: 40px;
}
.chat-container .user-container .chat__user-image {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
}
.chat-container .user-container .store-owner {
  position: absolute;
  width: 16px;
  height: 16px;
  bottom: 0;
  right: 0;
  border-radius: 100%;
}

.chat-container .chat__product-image {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  object-fit: cover;
}
.chat-container .chat__info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: calc(100% - 112px);
  text-align: left;
}

.chat__info .chat__user-container {
  display: flex;
  gap: 4px;
}
.chat__user-container .info__user-nickname {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
.chat__user-container .info__additional {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #8C8C8C;
}

.chat__info .chat__preview {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  
  /* 미리보기 내용이 너무 긴 경우 ...로 자르도록 */
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden; /* 넘치는 부분 숨김 */
}