body {
  position: relative;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 12px 16px;
  background-color: #fff;
  border-bottom: 1px solid #D9D9D9;
}

header .header__title-container,
header .header__icon-container {
  display: flex;
  align-items: center;
}
header .header__title-container {
  gap: 6px;
}
header .header__icon-container {
  gap: 16px;
}

.header__title-container .header__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}