.my-list > article {
  border-bottom: 4px solid #eee;
}
.my-list > article:last-child {
  border-bottom: none;
}

.my-list .profile-container {
  padding: 16px;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profile-container .profile__user-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}
.profile__user-container .user__image {
  width: 64px;
  height: 64px;
}
.profile__user-container .user-desc {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 12px 14px 12px 0;
  gap: 4px;
  width: 100%;

  .user__nickname {
    font-size: 16px;
    line-height: 20px;
  }

  .user__additional {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #8C8C8C;
  }
}
.profile__user-container .user-desc .go-user-detail {
  width: 16px;
  height: 16px;
}

.profile-container .profile__daangn-pay {
  border: 1px dashed #FF7E36;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}
.profile__daangn-pay h3 {
  font-weight: 700;
  font-size: 14px;
  color: #FF7E36;
}
.profile__daangn-pay span {
  color: #5E5E5E;
}
.profile__daangn-pay span,
.profile__summary-grid .btn-container span {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.profile-container .profile__summary-grid {
  padding: 0 16px;
  display: flex;
}
.profile__summary-grid .btn-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.my-list .list-container {
  padding: 8px 16px;
}
.my-list .list-container .list-title {
  padding: 10px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.my-list .list-container > ul > li > button {
  width: 100%;
  padding: 10px 0;
  display: flex;
  gap: 16px;
  align-items: center;
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}