header {
  z-index: 1000;
}

/* Daangn Styles */
.town-header {
  position: relative;
}

.town-header header {
  position: fixed;
  display: flex;
  padding: 12px 16px;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  background: #FFF;
  border-bottom: 1px solid #D9D9D9;
}

.town-header .town-header__icon-container,
.town-header .town-header__location-container {
  display: flex;
  align-items: center;
}

.town-header .town-header__icon-container {
  gap: 16px;
}

.town-header .town-header__location-container {
  gap: 6px;
}

.town-header .town-header__location-container img {
  margin-bottom: 3px; /* 약간 아래에 위치해 있어서 임의로 옮김 */
}

.town-header__location-container .location__now {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.town {
  padding-top: 54px;
  padding-bottom: 58px;
}

.town .town__filter-container {
  width: 100%;
  overflow: auto;
  white-space: nowrap;
  padding: 18px 16px; /*12px이 왜 12가 아닌거 같지?*/
  display: flex;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  border-bottom: 1px solid #D9D9D9;
}
.town .town__filter-container::-webkit-scrollbar {
  display: none; /* 스크롤 바 숨기기 */
}

.town .town__banner-container {
  padding: 12px 16px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.town__filter-container .filter__option {
  padding: 8px 12px;
  border: 1px solid #EEE;
  border-radius: 100px;
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.town .town__banner-container {
  display: flex;
  align-items: stretch;
  gap: 8px;
}
/*
이미지 크기 설정 수정
-> 자동 조절

align-items: stretch; 로 해결 안 됨
*/

.town__banner-container .banner__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

.banner__info .info__title {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.banner__info .info__text {
  color: #5E5E5E;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.town .town__post-list li {
  border-top: 4px solid #D9D9D9;
  display: flex;
  flex-direction: column;

  .post-container {
    width: 100%;
  }
}

.town .town__post-list li:last-child {
  border-bottom: 4px solid #D9D9D9;
}

.town .post-container {
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.post-container .post__category {
  padding: 3px 6px;
  border-radius: 4px;
  background-color: #EEE;
  color: #000;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.post-container .post__content,
.post-container .post__constraint-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.post__content .content__title {
  display: flex;
  gap: 4px;

  .title__condition {
    color: #FF7E36;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }

  .title__content {
    text-align: start;
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }
}

.post__content .content__desc {
  color: #8C8C8C;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.post--question .title__condition {
  position: absolute;
}
.post--question .title__content {
  text-indent: 16px; /* 들여쓰기 */
}
.post--find .title__condition {
  position: absolute;
}
.post--find .title__content {
  text-indent: 42px; /* 들여쓰기 */
}
/* NOTE
   모집중/모집완료/Q./찾아요 등과 같이 현황을 나타내는 것과
   실제로 게시자가 작성한 글을 분리하고자 함
   
   질문글의 경우, Q.가 이에 해당하며, 게시자가 작성한 글이 이어져서 표시됨
   ->
   span 태그를 분리하되, 글이 여러 줄이 되는 경우 앞의 정렬(?)이 동일하도록
   Q.에 position: absolute를, 글에 들여쓰기를 적용함

   => 찾아요 게시글도 동일
*/

.post__content .post__content--more {
  width: 100%;
  display: flex;
  gap: 4px;

  .more__text {
    color: #868686;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    text-decoration: none;
  }
}

.post-container .post__constraint-container div {
  display: flex;
  width: 100%;
  gap: 4px;
  align-items: center;
}

.post-container .post__constraint-container div > img {
  position: relative;
  bottom: 1px;
}

.post-container .post__constraint-container div > span {
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.post-container .post_images {
  width: 100%;
  display: flex;
  gap: 2px;
  border-radius: 4px;

  overflow: auto;
  white-space: nowrap;
}
.post-container .post_images::-webkit-scrollbar {
  display: none; /* 스크롤 바 숨기기 */
}

.post__location-insertion {
  width: 100%;
  display: flex;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
}
.post__location-insertion .location__info-container {
  padding: 8px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  .location__name {
    color: #000;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }

  .location__address {
    color: #8C8C8C;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }
}

.post__upload-data {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 4px;
}

.post__upload-data span {
  color: #8C8C8C;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.town .post__reaction {
  padding: 10px 16px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  gap: 16px;
  border-top: 1px solid #D9D9D9;
}
.town .post__reaction button {
  display: flex;
  align-items: center;
  gap: 4px;
}

.town .post__reaction span {
  color: #5E5E5E;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.navigation-bar {
  background: #FFF;
  /* display: grid; */
  /* grid-template-columns: repeat(5, 1fr); */
  /* position: fixed; */
  display: flex;
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 8px 0 10px;
  border-top: 1px solid #d9d9d9;
}

.navigation-bar .bar__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  .bar__img {
    height: 24px;
  }

  .bar__info {
    color: #000;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
  }
}

.navigation-bar .add-product {
  width: 48px;
  height: 48px;
  padding: 12px;
  position: absolute;
  bottom: calc(100% + 16px);
  /* bottom: 74px; */
  right: 16px;
  border-radius: 100%;
  background-color: #FF7E36;
}