* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #f5f5f5;
  font-family: "Arial", sans-serif;
}
.app {
  width: 400px;
  margin: 30px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.header {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: center;
}
.inputContainer {
  display: flex;
}
#todoInput {
  flex: 1;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ddd;
}
button {
  background-color: #28a745;
  color: #fff;
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
}
button:hover {
  background-color: #218838;
}
ul {
  list-style-type: none;
}
li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li:last-child {
  border-bottom: none;
}
.deleteBtn {
  cursor: pointer;
  color: #ff0000;
}
.deleteBtn:hover {
  text-decoration: underline;
}
