@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body {
  font-family: 'Pretendard', sans-serif;
}

.deliveryInfo {
  width: 100%;
  height: 142px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-bottom: 16px solid #f2f4f6;

  padding-left: 24px;

}

.AddressInfo {
  width: 100%;
}

.riderInfo {
  width: 100%;
}

.AddressDefault, .toRiderDefault{
  font-size: 17px;
  font-weight: 600;
  color: #6b7684;
}

.Address {
  font-size: 17px;
  font-weight: 700;
  margin-top: 5px;
}

.ToRider input{
  border-radius: 5px;
  border-color: #3182f6;
  margin-top: 5px;
  height: 25px;
}

.ToRider button {
  border-radius: 5px;
  background-color: #3182f6;
  border-color: #3182f6;
  color: #ffffff;
  margin-left: 5px;
  height: 25px !important;
}

.ToRider button:hover {
  background-color: #1e5be6;
}


.customerInfo, .ownerInfo {
  width: 100%;
  height: 71px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-bottom: 16px solid #f2f4f6;

  padding-left: 24px;
}

.phoneNumDefault, .ToOwnerDefault {
  font-size: 17px;
  font-weight: 600;
  color: #6b7684;
}

.phoneNum {
  font-size: 17px;
  font-weight: 700;
  margin-top: 5px;
}

.ToOwner input{
  border-radius: 5px;
  border-color: #3182f6;
  margin-top: 5px;
  height: 25px;
}


.ToOwner button {
  border-radius: 5px;
  background-color: #3182f6;
  border-color: #3182f6;
  color: #ffffff;
  margin-left: 5px;
  height: 25px !important;
}

.ToOwner button:hover {
  background-color: #1e5be6;
}


.methodInfo {
  width: 100%;
  height: 213px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-bottom: 16px solid #f2f4f6;

  padding-left: 24px;
}

.methodDefault {
  font-size: 17px;
  font-weight: 600;
  color: #6b7684;
}

.methodForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  font-size: 17px;
  font-weight: 700;
  margin-top: 5px;
}

.methodForm label {
  margin-bottom: 10px; 
}

.paymentInfo {
  width: 100%;
  height: 163px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);

  justify-content: space-between;

  padding-top: 16px;
  padding-bottom: 130px;
  align-items: center;
}

.totalPriceDefault {
  padding-left: 24px;
  font-size: 17px;
  font-weight: 500;
  color: #4e5968;
}

.totalPrice {
  padding-right: 24px;
  justify-self: end;
  font-size: 17px;
  font-weight: 500;
  color: #4e5968;
}

.orderPriceDefault, .deliveryFeeDefault {
  padding-left: 24px;
  font-size: 17px;
  font-weight: 500;
  color: #8b95a1;
}


.deliveryFee, .orderPrice {
  padding-right: 24px;
  justify-self: end;
  font-size: 17px;
  font-weight: 500;
  color: #505967;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 129px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #ffffff;
}

.payButton {
  width: 350px;
  height: 56px;
  margin-left: 24px;
  border-radius: 16px;

  border: none;
  background-color: #3182f6;

  font-size: 16px;
  font-weight: 600;
  color: #ffffff;

  cursor: pointer;
}

.payButton:hover {
  background-color: #1e5be6;
}
