/* Global Styles */
button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
}

body {
    padding-bottom: 54px;
}

/* Daangn Styles */
.post-header {
    position: relative;
}

.post-header header {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 14px 16px;
    box-sizing: border-box;
}

.post-header .post-header__icon-container {
    display: flex;
    gap: 16px;
    align-items: center;
}

.post-header .post__image {
    max-width: 100%;
    max-height: 100%;
}

.post {
    padding: 0 16px;
    padding-bottom: 54px;
}

.post>section {
    padding: 16px 0;
    border-bottom: 1px solid #eee;
}

.post>section:last-child {
    border-bottom: none;
}

.post__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post__header .header__user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.header__user .user__profile-img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.header__user .user__info {
    display: flex;
    flex-direction: column;
}

.header__user .user__info .user__name {
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
    margin-bottom: 4px;
}

.header__user .user__info .user__address {
    color: #4F4F4F;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
}

.post__header .header__temperature {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header__temperature .temperature__container {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.temperature__container .temperature__indicator {
    color: #4AC1DB;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
    margin-right: 4px;
}

.temperature__indicator .temperature__bar {
    width: 100%;
    height: 2px;
    background-color: #d9d9d9;
    border-radius: 10px;

    .temperature__bar--value {
        width: 37%;
        height: 2px;
        background-color: #4AC1DB;
    }
}

.header__temperature .temperature__desc {
    color: #8C8C8C;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    text-decoration-line: underline;
    text-align: left;
    
}

.post__content .post__title {
    margin-bottom: 8px;
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
}

.desc__container {
        display: flex;
        gap: 2px;

        color: #8C8C8C;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        text-align: left;

        .desc--clickable {
            text-decoration-line: underline;
        }
    }

.post__content .post__text {
    margin: 16px 0;
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}

.post .section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .section__title {
        color: #000;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        text-align: left;
    }
}

.post .products__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px 16px;
    margin: 16px 0 8px;
}

.product__container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.product__container .product__img {
    width: 100%;
    max-height: 118px;
    object-fit: cover;
    border-radius: 4px;
}

.product__container .product__name {
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}

.bottom-bar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    padding: 16px 8px 12px;
    border-top: 1px solid #d9d9d9;
    box-sizing: border-box;
}

.bottom-bar .bar__chat-btn {
    border-radius: 4px;
    background: #ff7236;
    padding: 8px 14px;
    color: var(--white, #fff);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
}

.bar__info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    .divider {
        width: 1px;
        align-self: stretch;
        background-color: #eee;
    }
}

.bar__info-container .bar__info {
    display: flex;
    flex-direction: column;

    .product__desc {
        color: #8C8C8C;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
        text-align: left;
    }
}