@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body {
  font-family: 'Pretendard', sans-serif;
}

.StoreInfo {
  width: 100%;
  height: 116px;
  display: flex;
  gap: 17px;
  padding-bottom: 120px;
}

.storeImg {
  padding-top: 16px;
  padding-left: 24px;
  border-radius: 8px;
}

.Info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0;
  margin-left: 0;
}

.StoreInfo .Info .Name {
  padding: 0 !important;
  font-weight: 600;
  font-size: 17px;
  color: #333D4B;
}

.StoreInfo .Info .ranking {
  padding: 0 !important;
  font-weight: 600;
  font-size: 17px;
  color: #333D4B;
}


.Star,
.etc {
  padding: 0;
  font-weight: 500;
  font-size: 13px;
  color: #6B7684;
}
