.header {
  display: flex;
  justify-content: space-between;
}
.header_co {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.backBtn {
  cursor: pointer;
}
.items {
  margin-top: 20px;
}
.item_name {
  font-size: 17px;
  color: #333d4b;
  margin-left: 24px;
}
.addMore {
  color: #3182f6;
  font-size: 17px;
  display: flex;
  justify-content: center;
  border-top: 1px solid lightgray;
  padding: 19px;
  cursor: pointer;
}
.price {
  height: 147px;
  padding: 8px;
  display: flex;
  flex-direction: column;
}
.preTotal {
  display: flex;
  justify-content: space-between;
  color: #8b95a1;
  margin: 8px 24px 8px 24px;
}
.priceTotal {
  display: flex;
  justify-content: space-between;
  color: #4e5968;
  font-weight: 500;
  margin: 15px 24px 0px 24px;
}
.bottomBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.leastPrice {
  display: flex;
  justify-content: center;
  margin-bottom: 19px;
  color: #6b7684;
}
.finalBtn {
  border-radius: 16px;
  color: white;
  width: 350px;
  height: 56px;
  cursor: pointer;
  border: none;
}
