.menu {
  display: flex;
  margin: 35px 19px 40px 24px;
  gap: 17px;
}
.menuItem {
  display: flex;
  flex-direction: column;
  width: 210px;
  height: 32px;
  gap: 5px;
}
.menuName {
  font-size: 17px;
  color: #333d4b;
  font-weight: 500;
}
.menuDetail {
  font-size: 13px;
  color: #6b7684;
}
.menuDetailBtn {
  cursor: pointer;
}
