.post-header {
  width: 390px;
  height: 778px;
  position: relative;
  top: 47px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #D9D9D9;
}

header {
  width: 100%;
  height: 52px;
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  box-sizing: border-box;
  margin-bottom: 1px;
}

.title {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
}

.title p {
  font-size: 18px;
  margin-right: 0;
  font-weight: bold;
}

.buttonbar {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end; 
  margin-left: auto;
}

.expanderrow {
  width: 14px;
  height: 14px;
  background-color: #FFFFFF;
  border: none;
}

.search-button,
.menu-btn,
.notification {
  width: 24px; /* 수정된 부분 */
  height: 24px; /* 수정된 부분 */
  border: none;
  background-color: transparent;
}

article {
  width: 390px;
  height: 726px;
  gap: 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  padding: 15px 16px 15px 16px;
  background: #FFFFFF;
  border-top: 1px solid #EEEEEE;
}

article section {
  width: 358px;
  height: 110px;
  margin: 16px 16px 16px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

}

article section img {
  width: 110px;
  height: 110px;
}

article section .content {
  width: 232px;
  height: 110px;
  margin-left: 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 4px;
}

article section .info  {
  width: 100%;
  height: 90px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
}


article section .comment {
  width: auto;
  height: 16px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end; /* comment를 우측으로 정렬 */
  align-items: flex-end;
  margin-right: 16px;
}

.border {
  width: auto;
  height: 1px;
  background-color: #EEEEEE;
  z-index: 1;
}

footer {
  width: 390px;
  height: 172px;
  position: absolute;
  bottom: 34px;
  left: 0;
  position: fixed;
  
}

.plusmath {
  position: absolute;
  top: 0; /* 하단에 고정 */
  right: 0; /* 오른쪽에 고정 */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 16px 16px 0 0;
}

.plusbtn {
  width: 48px;
  height: 48px;
  gap: 10px;
  border-radius: 100%;
  background: #FF7E36;
  margin-left: auto;
}

.plusbtn img {
  width: 100%;
  height: 100%;
}


.icon-container {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
  background-color: #FFFFFF;
  border-top: 1px solid #EEEEEE;
  z-index: 1000;
  overflow: auto;

}

.icon-container button {
  width: 100%;
  height: 100%;
  flex: 1;
  text-align: center;

  border: none; /* 버튼의 기본 테두리 제거 */
  background-color: transparent; /* 배경색 없애기 */
}