@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body {
  font-family: 'Pretendard', sans-serif;
}

.Title {
  width: calc(100% - 48px);
  height: 59px;
  padding-left: 24px;

  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 26px;
}